html,
body {
  font-family:  monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  position: relative;
}
input {
  font-size: 12px;
}
.btns{
  display: flex;
  margin: 10px 0;
}
.btns input {
  width: 50%;
  margin-left: 2px;
  cursor: pointer;
  padding: 8px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
}
h1 {
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}
#map {
  bottom: 0px;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0px;
}
.options-box {
  background: #333;
  border: none;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
    display: none;
}
input[type="text"] {
  width: 100%;
  padding: 8px 0;
  color: #333;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #02B3E4;
  border-radius: 4px;
}
#toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 12px;
  z-index: 500;
}
